@model CinemaToon.Web.MVC.ViewModels.MovieDetailViewModel

@{
    ViewData["Title"] = "Details";
}
@if (ViewContext.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        <strong>Error</strong>
        <div asp-validation-summary="All" class="danger"></div>
    </div>
}

    <div>
        <form method="post" class="container">
        <br />
            <div id="tblMainAlt" class="panel-body" >

                @foreach (var cinemaFunction in Model.CinemaBooking)
                {

                    <div class="btn-group" role="group" aria-label="...">
                        @if (cinemaFunction.AvailableSeats > 0)
                        {

                            <a class="btn btn-default" asp-action="Index" asp-controller="Booking"
                                asp-route-movieId="@Model.Movie.Id"
                                asp-route-cinemaFunctionId="@cinemaFunction.CinemaFuctionId" asp-route-cinemaTheaterId="@Model.SelectedTheaterId">

                                @cinemaFunction.FunctionDateTime
                                <label class="text-success">@cinemaFunction.AvailableSeats Tickets</label>
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-danger">
                                @cinemaFunction.FunctionDateTime
                                0 Tickets
                            </a>
                        }
                        <div class="clearfix">&nbsp;</div>
                    </div>
                }

            </div>
        </form>
    </div>

